<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    [템플릿 설명]  
    - 해당 파일은 SQL 문을 작성하는 곳입니다.
-->
<mapper namespace="com.example.demo.Mapper.DataMapper">

	<select id="selectDataList" resultType="com.example.demo.VO.DataVO">
		SELECT num,
			contents,
			date,
		FROM data;
	</select>
	
	<insert id="insertData" parameterType="com.example.demo.VO.DataVO">

		INSERT INTO data(webServer_name, contents, date, rw)
		values (#{webServer_name}, #{contents}, #{date}, #{rw});
		
	</insert>
	
</mapper>