<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    [템플릿 설명]  
    - 해당 파일은 SQL 문을 작성하는 곳입니다.
-->
<mapper namespace="com.example.demo.Mapper.TemplateMapper">

    <select id="selectTempList" resultType="TemplateVO">
        SELECT template_id,
               template_name,
               template_etc
        FROM tb_template;
    </select>

    <select id="selectTempById" resultType="TemplateVO">
        SELECT template_id,
               template_name,
               template_etc
        FROM tb_template
        WHERE template_id = #{templateId}
    </select>

    <insert id="insertTemp" parameterType="TemplateVO">
        INSERT INTO tb_template(template_id, template_name, template_etc)
        values (#{templateId}, #{templateName}, #{templateEtc});
    </insert>

    <update id="updateTemp" parameterType="TemplateVO">
        UPDATE tb_template
        SET template_name= #{templateName}
          , template_etc = #{templateEtc}
        WHERE template_id = #{templateId}
    </update>

    <!--테이블 row delete-->
    <delete id="deleteTempById">
        DELETE
        FROM tb_template
        WHERE template_id = #{templateId}
    </delete>
    
    <select id="selectActorList" resultType="ActorVO">
        SELECT actor_id,
               first_name,
               last_name,
               last_update
        FROM actor;
    </select>

</mapper>